.todoCard {
    width: 500px;
    min-height: 100px;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: antiquewhite;
    padding: 8px;
}