.body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header,
.footer {
    width: 100%;
    top: 0;
    position: absolute;
    height: 100px;
    font-weight: 600;
    padding: 20px;
    align-items: center;
    display: flex;
}

.header {
    justify-content: space-between;
}

.footer {
    top: unset;
    bottom: 0;
}